<h3>Listado de Héroes</h3>

<!-- <div *ngIf="heroeEliminado">
  <h3>Héreo borrado <small class="text-danger"> {{heroeEliminado}} </small></h3>
</div>

<div *ngIf="!heroeEliminado">
  <h3>No ha borrado nada</h3>
</div> -->


<div *ngIf="heroeEliminado; else nosehaborradoHeroe">
  <h3>Héreo borrado <small class="text-danger"> {{heroeEliminado}} </small></h3>
</div>

<ng-template #nosehaborradoHeroe>
  <h3>No ha borrado nada</h3>
</ng-template>



<button
  (click) = "borrarUltimo()"
  class="btn btn-outline-danger"
>Borrar el ultimo Heroe</button>
<ul class="mt-2 list-group">
  <li
  *ngFor="let hereo of heroes"
  class="list-group-item">
    {{ hereo }}
  </li>
</ul>
