
<h1>{{ nombre }}</h1>

<dl>
  <dt>Nombre:</dt>
  <dd> {{ nombre }} </dd>

  <dt>Edad:</dt>
  <dd> {{ edad }} </dd>


  <dt>Metodo:</dt>
  <dd> {{ getHeroeDescripcion() }} </dd>

  <dt>Capitalizado:</dt>
  <dd> {{ capitalizarNombre }} </dd>

</dl>

<button
*ngIf=" nombre == 'Superman' "
(click) = "cambiarNombre()"
class="btn btn-primary mx-2">
  Cambiar nombre
</button>

<button
*ngIf=" edad == 100 "
(click) = "cambiarEdad()"
class="btn btn-primary">
  Cambiar edad
</button>

<button
(click) = "reset()"
class="btn btn-success mx-2">
  Reset
</button>
