<h1>DBZ Personajes</h1>
<hr>

<div class="row">

  <!-- TAMAÑOS DE PANTALLA PARA BOOSTRAP
  Extra small (xs)
  Small (sm)
  Medium (md)
  Large (lg)
  Extra large (xl)
  Extra extra large (xxl)
  CANTIDAD DE COLUMNAS MAXIMAS 12
  COL-6
  COL-6
  -->

  <div class="col-12 col-md-6">
    <app-dbz-listar [personajeLista]="personajes"></app-dbz-listar>
  </div>

  <div class="col-12 col-md-6">
    <app-agregar-dbz-personaje (onNewPersonaje)="onNewPersonaje($event)"></app-agregar-dbz-personaje>
  </div>

</div>
